.cell {
  width: 48px;
  height: 48px;
  text-align: center;
}

.cell-content {
  text-align: center;
  font-size: 1.9em;
}

.center-table {
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
  float: none;
}

.cell-table {
  border-collapse: separate;
  border-spacing: 1px 1px;
  table-layout: fixed;
}
